<!-- <p>top-bar works!</p> -->

<div class="content">
	<div class="image">
		<a [routerLink]="['/']"><img src="/assets/Paradise-Logo1.jpg" alt="bar" width="300px" class="top-bar" ></a>		
	</div>
	<div class="Menu">
		<nav>
			<ul>
				<li><a [routerLink]="['/about-us']">About Us</a></li>
				<li><a [routerLink]="['/menu']">Menu</a> </li>
				<li><a [routerLink]="['/feedback']">Feedbacks about us</a></li>
				<li><a [routerLink]="['/sign-in']">Sign in</a></li>
				<!-- <li></li> -->
		    </ul>
		</nav>
		<a [routerLink]="['/orders']"><img id="icon" src="/assets/food-serving.png" alt="bar" width="50px" class="top-bar" ></a>
	</div>		
	
</div>


