<!-- <div class="Main">
	<footer>
		<p>bottom-bar works!</p>

	</footer>
</div> -->

<!-- 
<footer class="footer bg-dark fixed-bottom">
  <div class="text-white text-right mr-3">
    Copyright goes here
  </div>
</footer> -->


<footer class="footer-area">

        <div class="main">
            <div class="footer">
                <div class="single-footer">
                    <a [routerLink]="['/']"><img src="/assets/Paradise-Logo1.jpg" alt="bar" width="300px" class="top-bar" ></a>
                    <p><span style="font-family: Monotype Corsiva; font-size: 20px; color: white;">Welcome to Paradise, our home located in New York’s Flatiron District, where we invite guests to celebrate life and share sundry blends of modern and traditional Lebanese cuisine.</span></p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-telegram"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="single-footer">
                    <h4>main menu</h4>
                    <ul>
                        <li><a [routerLink]="['/']"><i class="fas fa-chevron-right"></i> home</a></li>
                        <li><a [routerLink]="['/about-us']"><i class="fas fa-chevron-right"></i> about us</a></li>
                        <li><a [routerLink]="['/menu']"><i class="fas fa-chevron-right"></i> menu</a></li>
                        <!-- <li><a href=""><i class="fas fa-chevron-right"></i> gallery</a></li> -->
                        <li><a [routerLink]="['/feedback']"><i class="fas fa-chevron-right"></i> Feedbacks</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>contact us</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-map-marker-alt"></i> Kazakhstan, Almaty, Tole bi</a></li>
                        <li><a href=""><i class="fas fa-mobile-alt"></i> +777 777 77 77</a></li>
                        <li><a href=""><i class="far fa-envelope"></i> paradise@gmail.com</a></li>
                        <li><a href=""><i class="fas fa-globe-europe"></i> www.paradise.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2021 restaurant Paradise</p>
            </div>
        </div>
    </footer>